@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
  text-align: center;
  font-family: "Bungee", cursive;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#e66465, #9198e5);
}

a:link {
  text-decoration: none;
}
